data structures: Series and DataFrame

A Series is a one-dimensional array-like object containing a sequence of values (of
similar types to NumPy types) and an associated array of data labels, called its index.

In [2]:
import pandas as pd

In [ ]:
pd.tab

In [ ]:
pd

In [3]:
pd1 = pd.Series([4, 6, 8, 3])

index on the
left and the values on the right.

In [4]:
pd1

0    4
1    6
2    8
3    3
dtype: int64

If we have  not specify an index for the data, a
default one consisting of the integers 0 through (length - 1)

You can get the array representation and index object of the Series via
its values and index attributes, respectively:

In [5]:
pd1.values

array([4, 6, 8, 3], dtype=int64)

In [6]:

pd1.index

RangeIndex(start=0, stop=4, step=1)

what if we want our own index?

In [7]:
pd2 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

arrays, you can use labels in the index when selecting single
values or a set of values:

In [8]:
pd2['a']

1

In [9]:
pd2['a'] = 8
pd2['a']

8

summary:
Series is as a fixed-length, ordered dictionary.

DataFrame
A DataFrame represents a rectangular table of data and contains an ordered collection
of columns, each of which can be a different value type(numeric, string or boolean.

how to construct a DataFrame?

from a dict of equal-length lists or NumPy arrays:


When we  are using the Jupyter notebook, pandas DataFrame objects will be displayed as HTML table.

In [10]:
df = {'students': ['Ahmed', 'Ali', 'Afnan', 'Naveed', 'Arsalan', 'Alia'],
        'year': [2010, 2021, 2022, 2021, 2002, 2013],
        'cgpa': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(df)

If we specify a sequence of columns, the DataFrameâ€™s columns will be arranged in that order

In [11]:
pd.DataFrame(df, columns=['year', 'students', 'cgpa'])

   year students  cgpa
0  2010    Ahmed   1.5
1  2021      Ali   1.7
2  2022    Afnan   3.6
3  2021   Naveed   2.4
4  2002  Arsalan   2.9
5  2013     Alia   3.2

In [19]:
df1=pd.DataFrame(df,index=['one','two','three','four','five','six'])
df1

      students  year  cgpa new_students
one      Ahmed  2010   1.5         Asad
two        Ali  2021   1.7         Asad
three    Afnan  2022   3.6         Asad
four    Naveed  2021   2.4         Asad
five   Arsalan  2002   2.9         Asad
six       Alia  2013   3.2         Asad

access one row multiple columns by label

In [24]:

df1.loc['one',['students','year']]

students    Ahmed
year         2010
Name: one, dtype: object

In [29]:
df1.iloc[0, [1, 2]]

year    2010
cgpa     1.5
Name: one, dtype: object

Columns can be modified by assignment

In [13]:
df['new_students']='Asad'
df

{'students': ['Ahmed', 'Ali', 'Afnan', 'Naveed', 'Arsalan', 'Alia'],
 'year': [2010, 2021, 2022, 2021, 2002, 2013],
 'cgpa': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2],
 'new_students': 'Asad'}

 loc and iloc
 They enable us to select  using either axis labels (loc) or integers(iloc)

In [15]:
df.loc['students']

AttributeError: 'dict' object has no attribute 'loc'

missing values

In [31]:
s = pd.Series([1, 2, 3])

s.loc[0] = None
s

0    NaN
1    2.0
2    3.0
dtype: float64

In [34]:
s.fillna("missing data")

0    missing data
1             2.0
2             3.0
dtype: object

In [32]:
s.fillna(0)

0    0.0
1    2.0
2    3.0
dtype: float64

In [35]:
s.fillna(method="pad")

0    NaN
1    2.0
2    3.0
dtype: float64