<center><b ><div style="background:#37373b;color:white;font-size:20px;height:80px;">
    <p> Pandasüêºüêº</p></div></b></center>

In [ ]:
import numpy as np

import pandas as pd

<center><b ><div style="background:#37373b;color:white;font-size:20px;height:80px;">
    <p>Object Creation‚≠ïü´° </p></div></b></center>

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2

In [ ]:
df2.dtypes

In [ ]:
df2.head(2)
df2.tail(3)

In [ ]:
df2.index

In [ ]:
df2.to_numpy()

<center><b ><div style="background:#37373b;color:white;font-size:20px;height:80px;">
    <p>statistics summaryüöâ </p></div></b></center>

In [ ]:
df2.describe()

In [ ]:
df2.sort_index(axis=1, ascending=False)

In [ ]:
df2.sort_values(by="B")

 <center><b ><div style="background:#37373b;color:white;font-size:20px;">
    <ul><li> DataFrame.at()üó∫Ô∏è,</li>
    <li>DataFrame.iat(),üéûÔ∏è</li>
    <li>DataFrame.loc()üõÖ</li>
    <li>and DataFrame.iloc()üî¢.</li></ul>
     </div></b></center>

In [ ]:
data = pd.DataFrame([[0, 3, 4], [0, 5, 2], [20, 30, 40]],
                  index=[1, 2, 3], columns=['P', 'Q', 'R'])
data

In [ ]:
data.at[1, 'Q']

iat() single value access, by giving integer

In [ ]:
dif = pd.DataFrame([[0, 3, 4], [0, 5, 2], [20, 30, 40]],
                  columns=['X', 'Y', 'Z'])
dif

In [ ]:
dif.iat[1, 1]

In [ ]:
dif['X']

slices the rows:

In [ ]:
dif[0:2]

Selecting on a multi-axis by label:

In [ ]:
df2.loc[:,["A", "B"]]

In [ ]:
df2.loc[0:1, :]

Selection by position
Select via the position of the passed integers:

In [ ]:
df2.iloc[[1, 3], [0, 3]]

Boolean indexing
Using a single column‚Äôs values to select data:

In [ ]:
df2[df2["A"] > 0]

filtring
Using the isin() method for filtering:

In [ ]:
df3 = df2.copy()
df3["E"] = ["one", "one", "two", "three",]
df3

In [ ]:
df3[df3["E"].isin(["two", "four"])]

<center><b ><div style="background:#37373b;color:white;font-size:20px;height:80px;">
    <p> Missing data‚ùî‚ùî</p></div></b></center>


pandas primarily uses the value np.nan to represent missing data. It is by default
isnull()
notnull()
dropna()
fillna()
replace()
interpolate()

In [ ]:
import pandas as pd

# importing numpy as np
import numpy as np

# dictionary of lists
dict = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score': [np.nan, 40, 80, 98]}

# creating a dataframe from list
df = pd.DataFrame(dict)

# using isnull() function
df.isnull()

In [ ]:
df.notnull()

In [ ]:
bool_series = pd.notnull(df["First Score"])
bool_series

Filling null values with a single value

In [ ]:
df.fillna(0)

Filling null values with the previous ones

In [ ]:
df.fillna(method='pad')

Filling null value with the next ones

In [ ]:
df.fillna(method='bfill')

Now we are going to replace the all Nan value in the data frame with -9 value.

In [ ]:
df.replace(to_replace=np.nan, value=-99)

Dropping
Dropping rows with at least 1 null value.

In [ ]:
df.dropna()

Now we drop a rows whose all data is missing or contain null values(NaN)

In [ ]:
df.dropna(how='all')

Dropping columns with at least 1 null value.

In [ ]:
df.dropna(axis=0)

Dropping Rows with at least 1 null value

In [ ]:
new_data = df.dropna(axis=0, how='any')

In [ ]:
print("Count total NaN at each column in a DataFrame :",
      df.isnull().sum())

Count total NaN in DataFrame

In [ ]:
df.style.highlight_null('red')

In [ ]:
pip install Jinja2

In [ ]:
df.style.applymap(lambda cell: 'color:red' if pd.isnull(cell) else '')

In [ ]:
df.style.apply(lambda row: np.repeat('color: red' if row.isnull().any() else '',
                                     row.shape[0]), axis=1)

In [ ]:
df.style.apply(lambda row: np.repeat(
    'background: red' if row.isnull().any() else '', row.shape[0]), axis=1)

In [ ]:
df.style.apply(lambda row: np.repeat('background: red' if row.isnull().any() else '',
                                     row.shape[0]), axis=0)

Apply
DataFrame.apply() applies a user defined function to the data:

In [ ]:
df.apply(np.cumsum)

<center><b ><div style="background:#37373b;color:white;font-size:20px;height:80px;">
    <p> Mergeüèá</p></div></b></center>

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

Join
merge() enables SQL style join types along specific columns. See the Database style joining section.

In [ ]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on="key")

<center><b ><div style="background:#37373b;color:white;font-size:20px;height:80px;">
    <p> GroupingüõÖ</p></div></b></center>

Splitting the data into groups based on some criteria

Applying a function to each group independently

Combining the results into a data structure

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    })

Grouping and then applying the sum() function to the resulting groups:

In [ ]:
df.groupby("A")[["C", "D"]].sum()

Grouping by multiple columns forms a hierarchical index, and again we can apply the sum() function:

In [ ]:
df.groupby(["A", "B"]).sum()

Reshaping

Stack

In [ ]:
tuples = list(
    zip(
        ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
        ["one", "two", "one", "two", "one", "two", "one", "two"],
    )
)

In [ ]:
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
index

In [ ]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])
df

In [ ]:
df2

The stack() method ‚Äúcompresses‚Äù a level in the DataFrame‚Äôs columns:

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_single_level_cols = pd.DataFrame([[0, 2], [3, 4]],
                                    index=['deer', 'monkey'],
                                    columns=['weight', 'height'])

In [ ]:
df_single_level_cols

In [ ]:
stacked = df2.stack()
stacked

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

Pandas melt() function is used to change the DataFrame format from wide to long.

In [ ]:
import pandas as pd

d1 = {"Name": ["Pankaj", "Lisa", "David"], "ID": [
    1, 2, 3], "Role": ["CEO", "Editor", "Author"]}

df = pd.DataFrame(d1)

print(df)

df_melted = pd.melt(df, id_vars=["ID"], value_vars=["Name", "Role"])

print(df_melted)

Pivot tables

In [ ]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [ ]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],
                       columns=['C'], aggfunc=np.mean)

In [ ]:
table

Categoricals
pandas can include categorical data in a DataFrame

In [ ]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)

Converting the raw grades to a categorical data type:

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

Rename the categories to more meaningful names:

In [ ]:
new_categories = ["very good", "good", "very bad"]

In [ ]:
df["grade"] = df["grade"].cat.rename_categories(new_categories)
df

Reorder the categories and simultaneously add the missing categories (methods under Series.cat() return a new Series by default):

Sorting is per order in the categories, not lexical order:

In [ ]:
df.sort_values(by="grade")

Grouping by a categorical column also shows empty categories:

In [ ]:
df.groupby("grade").size()


<center><b ><div style="background:#37373b;color:white;font-size:20px;height:80px;">
    <p>Plotting , pivot, stack </p></div></b></center>